<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>梗圖｜name｜詳細資料</title>
    <link rel="stylesheet" href="{% static 'memes/css/picture.css' %}">
    <link rel="stylesheet" href="{% static 'memes/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'memes/css/pop1.css' %}">
    <link rel="stylesheet" href="{% static 'memes/js/pop1.js' %}">
    {% unicorn_scripts %}
</head>
<body>
    <div class="pop" id="pop">
        <form method='POST' action="">
            {% csrf_token %}
            <div class="pop_header">
                <p id="title">檢舉</p>
            </div>
            <div class="pop_body">
                <div id="reason">
                    <p style="display: inline-block; font-size: 0.78rem; font-weight: bold;">檢舉原因：</p>
                    <p style="display: inline-block; font-size: 0.78rem; color: red;">(必填)</p>
                    <div id="checkbox">
                        <label> 
                        {{form.violence}}
                        暴力</label>
                        <label> 
                        {{form.pornography}}
                        色情</label>
                        <label> 
                        {{form.personalattacks}}
                        人身攻擊</label>
                        <label> 
                        {{form.hurteyes}}
                        傷眼睛</label>
                        <label> 
                        {{form.Jackson}}
                        何大新</label>
                    </div>
                
                </div>
                <div id="explain" style="margin-bottom: 8px;">
                    <p style="display: inline-block; font-size: 0.78rem; font-weight: bold;">說明</p>
                    <p style="display: inline-block; font-size: 0.78rem; color: red;">(必填)</p>
                    <br>
                    
                        {{form.content}}
                         <!-- <textarea id="content" row="2" class="content"></textarea> -->

                </div>

                <div class="submit" id="submit_btn">
                    <button data-close-button class="check_button" id="cancel_btn">取消</button>
                    <button data-submit-button type="submit" class="check_button" id="report_btn">檢舉</button>
                </div>  
            </div>
            {{form.reporter.as_hidden}}
            {{form.post.as_hidden}}
        </form>
    </div> 
    <!-- Navbar -->
    <div class="menu">
        <p class="menu_left">
            <a href="{% url 'main' %}">HOME</a>
            <a href="{% url 'memes' %}">MEME</a>
            <a href="{% url 'games' %}">GAME</a>
        </p>
        <p class="menu_right">
            {% if not user.is_authenticated %}
            <a href="{% url 'login'%}?next={% url 'main' %}" id="id">Login</a>
            {% else %}
            <a id="id">{{ user.get_username }}</a>
        </p>
        <div id="profile_pic"><img src="{{request.user.member.profile_pic.url}}"></div>
        <ul class="menu_dropdown">
            <li><a href="{% url 'userinfo' request.user.id %}">個人資料</a></li>
            <li><a href="#">blablabla</a></li>
            <li><a href="{% url 'logout' %}?next={{request.path}}">登出</a></li>
        </ul>
		{% endif %}
    </div>
    
    <div class="content">
        <div class="content_box">

            <div class="title">
                {{meme.title}}
                {% if request.user == meme.uploader %}
                <a href="">[編輯]</a>
                {% endif %}
            </div>
            <!-- 這是梗圖名字 由上傳者自己設定 -->

            <div class="space"></div>
            
            <div class="text">
                <h2>上傳者:{{meme.uploader}}</h2>
                <h3 class="inform">圖片描述:{{meme.description}}</h3>
				{% for tag in meme.tags.all %}
                    <p class="hashtag"><a href="/memes/tag/{{ tag }}">{{tag}}</a></p>
				{% endfor %}
                {% comment %} <p class="hashtag">{{meme.tags.name}}</p> {% endcomment %}
                <p class="subtitle">留言</p>
                <div class="comments">
                    <form method="POST" action=>
                        {% csrf_token %}
						{{form.user.as_hidden}}
						{{form.post.as_hidden}}
                        {{form.content}}
                        <button type="submit">Comment</button>
                    </form>
                    <p class="comment" id="first_comment">留言</p>
					{% for comment in post_comments %}
					<p class="comment">{{comment}}</p>
					{% endfor %}
                </div>
            
            </div>
        
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="{% static 'memes/js/pop1.js' %}"></script>
    </div>    
</body>
</html>

