<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>梗圖｜name｜詳細資料</title>
    <link rel="stylesheet" href="{% static 'memes/css/picture.css' %}">
    <link rel="stylesheet" href="{% static 'memes/css/navbar.css' %}">
</head>
<body>
    <!-- Navbar -->
    <div class="menu">
        <p class="menu_left">
            <a href="{% url 'main' %}">HOME</a>
            <a href="{% url 'memes' %}">MEME</a>
            <a href="{% url 'games' %}">GAME</a>
        </p>
        <p class="menu_right">
            {% if not user.is_authenticated %}
            <a href="{% url 'login'%}?next={% url 'main' %}" id="id">Login</a>
            {% else %}
            <a id="id">{{ user.get_username }}</a>
        </p>
        <div id="profile_pic"><img src="{{request.user.member.profile_pic.url}}"></div>
        <ul class="menu_dropdown">
            <li><a href="{% url 'userinfo' request.user.id %}">個人資料</a></li>
            <li><a href="#">blablabla</a></li>
            <li><a href="{% url 'logout' %}?next={{request.path}}">登出</a></li>
        </ul>
		{% endif %}
    </div>
    

    <div class="content">    
        <div class="content_box">

            <div class="title">
                {{meme.title}}
                {% if request.user == meme.uploader %}
                <a href="">[編輯]</a>
                {% endif %}
            </div>
            <!-- 這是梗圖名字 由上傳者自己設定 -->

            <div class="picture">
                <img src="{{meme.image.url}}">
                <p>覺得這個圖片有問題？</p>
                {% comment %} <a href="{% url 'report' meme.id %}">覺得這個圖片有問題？</a> {% endcomment %}
            </div>

            <div class="space"></div>
            
            <div class="text">
                <h2>上傳者:{{meme.uploader}}</h2>
                <h3 class="inform">圖片描述:{{meme.description}}</h3>
				{% for tag in meme.tags.all %}
                    <p class="hashtag"><a href="/memes/tag/{{ tag }}">{{tag}}</a></p>
				{% endfor %}
                {% comment %} <p class="hashtag">{{meme.tags.name}}</p> {% endcomment %}
                <p class="subtitle">留言</p>
                <div class="comments">
                    <form method="POST" action=>
                        {% csrf_token %}
						{{form.user.as_hidden}}
						{{form.post.as_hidden}}
                        {{form.content}}
                        <button type="submit">Comment</button>
                    </form>
                    <p class="comment" id="first_comment">留言</p>
					{% for comment in post_comments %}
					<p class="comment">{{comment}}</p>
					{% endfor %}
                </div>
            
            </div>
        
        </div>
    </div>    
</body>
</html>

