<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>上傳Upload</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'memes/css/upload.css' %}">
    <link rel="stylesheet" href="{% static 'memes/css/pop.css' %}">
    <script defer src="{% static 'memes/js/upload.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

    <!--menu-->
    <div class="menu">
        <p class="menu_left">
            <a href="{% url 'main' %}">HOME</a>
            <a href="{% url 'memes' %}">MEME</a>
            <a href="{% url 'games' %}">GAME</a>
        </p>
        <p class="menu_right">
            <a id="id">{{ user.get_username }}</a>
        </p>
        <div id="profile_pic"><img src="{{request.user.member.profile_pic.url}}"></div>
        <ul class="menu_dropdown">
            <li><a href="{% url 'userinfo' request.user.id %}">個人資料</a></li>
            <li><a href="#">blablabla</a></li>
            <li><a href="{% url 'logout' %}?next={{request.path}}">登出</a></li>
        </ul>
    </div>
    
<!--
    <div class="back">
        <a href="#">梗圖上傳</a>
    </div>
-->

    <main>
        <div class="upload">
            <div class="upload_box">
                {% block upload %}
                <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="upload_pic" id="upload_pic">
                        <label>
                        上傳圖片 {{ form.image }}
                        </label>
                        {% comment %} <img id="preview_progressbarTW_img" src="#" /> {% endcomment %}
                    </div>
                    <div class="data">
                        <div class="group">
                            <label for="name" class="label">梗圖名字：</label>
                            {% comment %} <input id="name" type="text" class="input"> {% endcomment %}
                            {{ form.title }}
                        </div>
                        <div class="group">
                            {{ form.uploader.as_hidden }}
                            {% comment %} <input id="author" type="text" class="input" value="name" readonly="readonly"> {% endcomment %}
                        </div>
                        <div class="group">
                            <label for="content" class="label">簡介：</label>
                            {{ form.description }}
                            {% comment %} <textarea id="content" row="3" class="content"></textarea> {% endcomment %}
                        </div>

                        <p class="add_hashtag_text">加入HashTag</p>
                        <div id="hashtag_div" class="hashtag">
                            {% for tag in form.fields.tags.queryset %}    
                            <label for="checkbox-{{ tag }}">
                                <input name="tags" id="checkbox-{{ tag }}" type="checkbox" value="{{ tag.id }}">
                                <span>{{ tag }}</span>
                            </label>
                            {% endfor %}
                        </div>
                        {% comment %} <script>
                            $(document).ready(function(){
                                $("hey").click(function(){
                                    console.log($(this))
                                    if($(this).children('input').prop("checked")){
                                        $(this).children('input').addClass("hashtag_checked");
                                    }
                                    else{
                                        $(this).children('input').removeClass("hashtag_checked");
                                    }
                                })
                            })
                        </script> {% endcomment %}

                        <p class="new_hashtag_text">
                            新增HashTag
                            <input class="new_hashtag hashtag_value" id="new_hashtag" type="text" onkeypress="return event.keyCode!=13">
                            <button id="new_hashtag_button">確認</button>
                        </p>
                        
                        <div class="submit">
                            <input id="submit_button" type="submit" value="繳交">
                        </div>
                    </div>
                </form>
                {% endblock %}
            
            </div>
        </div>
    </main>
    <script type="text/javascript">
        const tagUrl = `{% url 'newTag' %}`;
        var x=new FileReader;
        document.forms[0].elements[1].onchange=function(){
        x.readAsDataURL(this.files[0]);
        }
        x.onloadend=function(){
        var elem = document.createElement("img");
        elem.setAttribute("src", this.result);
        elem.setAttribute("id", "subImg");
        if (document.contains(document.getElementById("subImg"))) {
            document.getElementById("subImg").remove();
        }
        document.getElementById("upload_pic").appendChild(elem);
        }
    </script>
</body>
</html>
