<div>
    <p class="comment" id="first_comment">留言</p>
    
    <p><textarea u:model.lazy="content" name="" id="" cols="60" rows="5" placeholder="Leave a comment..."></textarea></p>
    <p><button u:click="submit" title="Comment">Submit</button></p>
    <p class="comment">要用Django設定88888888888888888888888888888888888888888888888888888888</p>
    <p class="comment">要用Django設定</p>
    <p class="comment">要用Django設定</p>
    <p class="comment">要用Django設定</p>
    <p class="comment">要用Django設定</p>
    <p class="comment">要用Django設定</p>
    <p class="comment">要用Django設定</p>
    <p class="comment">要用Django設定</p>
    <p class="comment">要用Django設定</p>
    <p class="comment">要用Django設定</p>
    <p class="comment">要用Django設定</p>
</div>
