<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		{% load static %}
        <link href="{% static 'main/css/personal_info.css' %}" rel="stylesheet" media="all">
        <title>個人信息</title>
        <link href="{% static 'main/css/navbar.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'main/css/pop.css' %}" rel="stylesheet" media="all">
    </head>

    <body>
        <!-- Navbar -->
        <nav class="menu">
            <p class="menu_left">
                <a href="{% url 'main' %}">HOME</a>
                <a href="{% url 'memes' %}">MEME</a>
                <a href="{% url 'games' %}">GAME</a>
            </p>
            <p class="menu_right">
                <a id="id">{{ request.user.username }}</a>
            </p>
            <div id="profile_pic"><img src="{{request.user.member.profile_pic.url}}"></div>
            <ul class="menu_dropdown">
                <li><a href="{% url 'userinfo' request.user.id %}">個人資料</a></li>
                <li><a href="#">blablabla</a></li>
                <li><a href="{% url 'logout'%}?next={{request.path}}">登出</a></li>
            </ul>
        </nav>
        <!-- Navbar -->

        <main class="container">
            <div id="person_photo_div">
                <img id="person_photo" src="{{user.member.profile_pic.url}}" alt="個人照片">
            </div>
            <div id="bio">
                <p id="name">{{ user.member.username }}</p>
                <p id="gmail">{{user.email}}</p>
                <p id="words">簡介</p>
                <p id="more_words">{{user.member.intro}}</p>
            </div>
            <div class="container2">
                <div id=meme>
                    <p id="memeupload">上傳梗圖</p>
                    <p id="memenum">{{user.member.imguploaded}}</p>
                </div>
                <div id="love">
                    <p id="heart">♡</p>
                    <p id="likenum">{{user.member.likes}}</p>
                </div>
            </div>

			{% if request.user == user %}
            <div><a id="change"><button data-pop-target="#pop" id="openpop">變更個人資料</button></a></div>
            <div class="meme"></div>


            <div class="pop" id="pop"> 
                <form method='POST' action="">
                    {% csrf_token %}
                    <div class="pop-header">
                        <button data-close-button class="close-button">&times;</button>
                    </div>
                    <div class="pop-body">
                            <div id="photo_box"	>
                                <div id="photo_div" class="photo_div"><div id="photo"><img src="{{user.member.profile_pic.url}}" alt=""></div></div>
                                <div class="upload_pic">
                                    <label>
                                    <!--{{form.profile_pic}}-->
                                    <input id="id_profile_pic" type="file" name="profile_pic" accept="image/*" onchange="display_image(event)">
                                    上傳相片
                                    </label>
                                </div>
                            </div>
                            <div id="info">
                                <div class="group">
                                    <label for="account_name" class="label">帳號/名稱：<span id="account_name" class="account_name_class">{{form.username}}</span></label>
                                    
                                    <label for="email" class="label">電子信箱：<span id="email" class="email_class"></span></label>
                                    
                                    <form class="intro">
                                        <label for="content" class="label">簡介：</label>
                                        {{form.intro}}
                                        <!-- <textarea id="content" row="3" class="content"></textarea> --> 
                                    </form>
                                    <div class="submit" id="submit_btn">
                                        <button data-submit-button type="submit" class="check_button" id="report_btn">確認</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
            <div class="pop_image" id="pop_image">

            </div>
            {% endif %}

            <div id="overlay"></div>
            <div id="overlay2"></div>
            
        </main>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="{% static 'main/js/pop.js' %}"></script>
    </body>
    
</html>