<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link href="{% static 'main/css/personal_info.css' %}" rel="stylesheet" media="all">
        <title>個人信息</title>
        {% load static %}
        <link href="{% static 'main/css/navbar.css' %}" rel="stylesheet" media="all">
    </head>

    <body>
        <!-- Navbar -->
        <nav class="menu">
            <p class="menu_left">
                <a href="{% url 'main' %}">HOME</a>
                <a href="{% url 'memes' %}">MEME</a>
                <a href="{% url 'games' %}">GAME</a>
            </p>
            <p class="menu_right">
                <a id="id">{{ request.user.username }}</a>
            </p>
            <div id="profile_pic"><img src="{{request.user.member.profile_pic.url}}"></div>
            <ul class="menu_dropdown">
                <li><a href="{% url 'userinfo' request.user.id %}">個人資料</a></li>
                <li><a href="#">blablabla</a></li>
                <li><a href="{% url 'logout'%}?next={{request.path}}">登出</a></li>
            </ul>
        </nav>
        <!-- Navbar -->

        <main class="container">
            <div >
                <img id="person_photo" src="{{user.member.profile_pic.url}}" alt="個人照片">
            </div>
            <div id="bio">
                <p id="name">{{ user.username }}</p>
                <p id="gmail">{{user.email}}</p>
                <p id="words">簡介</p>
                <p id="more_words">{{user.intro}}</p>
            </div>
            <div class="container2">
                <div id=meme>
                    <p id="memeupload">上傳梗圖</p>
                    <p id="memenum">{{user.imguploaded}}</p>
                </div>
                <div id="love">
                    <p id="heart">♡</p>
                    <p id="likenum">{{user.likes}}</p>
                </div>
            </div>
            {% if request.user == user %}
            <div><a href="{% url 'useredit' %}" id="change">變更個人資料</a></div>
            {% endif %}
            <div class="meme"></div>
        </main>
    </body>
</html>